<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML REVIEW</title>
<!--  container for metadata( is not displayed on the page)
title, style,(css), link, script, meta and other
   -->
</head>
<body>


<p>Welcome to Java Developer course</p>
<b>  Hey you</b>
<h1 align ="center">SPRING BOOT</h1>
<h2 align ="center" style = "color:blue">SPRING BOOT</h2>
<h3>SPRING BOOT</h3>

<img src="/static/download.png" alt ="My picture11">

<h4 style="color: red">  MY NEW LIST</h4>
<ul>
    <li>JAVA</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<a href="http://cydeo.com"> CYDEO</a>

<table>
    <tr>
        <td style = "color:purple">Firstname  </td>
        <td>Lastname  </td>
        <td>Salaryname  </td>
    </tr>

    <tr>
        <td style = "color:purple">MIKE  </td>
        <td>SMITH  </td>
        <td>£ 12000  </td>
    </tr>
    <tr>
        <td style = "color:purple">JOHN  </td>
        <td>ARK </td>
        <td>£ 17000  </td>
    </tr>
</table>
<br>
<label> Username: </label>
<input type="text"  name="username">
<br>
<label> Password: </label>
<input type="password">
<br>
<label> Enter your comment</label>
<textarea name="comments"></textarea>

<br>
<label> Please select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">FEMALE
<input type="radio" name="gender" value="other">Other

<br>
<label> Please select your favorite courses</label>
<input type="checkbox" name="course" value="spring">Spring
<input type="checkbox" name="course" value="DS">DS
<input type="checkbox" name="course" value="Java">Java

<br>
<label> Please select your Program</label>
<select>
    <option value="us_sdet">US SDET</option>
    <option value="eu_sdet">EU SDET</option>
    <option value="us_jd">US JD</option>
    <option value="jd_al">JD AL</option>
</select>

<form action="#" method="get">
    Firstname: <input type="text" name="first_name">
    <br>
    Lastname: <input type="text" name="last_name">
    <br>
    <input type="button" value="SUBMIT">
    <br>
</form>
<br>
<!-- div division demek-->
<div style="background-color: aqua">
    <h3> JAVA DEVELOPER COURSE</h3>
    <ul>
        <li> SPRING</li>
        <li> DATA STRUCTURE</li>
        <li> CICD</li>
    </ul>

</div>


</body>
</html>